/* DESKTOP CSS */

/* TABLET MEDIUM SCREENS  */
@media only screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 1rem;
  }
  article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

/* MOBILE SMALL SCREENS  */
@media only screen and (max-width: 480px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 1rem;
  }
  article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
